* {
  box-sizing: border-box;
}


.randomContainer {
  background-image: URL("https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.randomparent {
  background-color: white;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  height: 40vh;
  width:30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
}
.randomparent button{
  background-color: #0b69ff;
  color: white;
  outline: none;
  border-style: none;
  border-radius: 10px;
  height:5vh;
  width: 6vw;
}
.number{
  padding-top: 2px;
  color: #0b69ff;
  font-size: 20px;
}